body{
background:#ffffff;
color:#565656;
font-size:13px;
padding:0;
margin:0;
text-align:center;
font-family: Verdana, Arial, Tahoma;
}

a{
color:#4475bf;
}

.header{
width:100%;
height:50px;
}

.header td{
background-color:#383637;
color:#ffffff;
}

.header #logo{
width:160px;
}

.header h1{
font-size:18px;
}

.content{
padding:20px;
text-align:left;
}

.footer{
width:100%;
height:40px;
}

.footer td{
background-color:#383637;
color:#ffffff;
}

.footer a{
color:#ffffff;
}
