/*
 * PROJECT:         Aspia
 * FILE:            icons/xp/xp_icons.rc
 * LICENSE:         LGPL (GNU Lesser General Public License)
 * PROGRAMMERS:     Dmitry Chapyshev (dmitry@aspia.ru)
 */

#include "../../include/icons.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDI_ASK           ICON DISCARDABLE "res/ask.ico"
IDI_BANG          ICON DISCARDABLE "res/bang.ico"
IDI_CALENDAR      ICON DISCARDABLE "res/calendar.ico"
IDI_COMPUTER      ICON DISCARDABLE "res/computer.ico"
IDI_FONTS         ICON DISCARDABLE "res/fonts.ico"
IDI_HW            ICON DISCARDABLE "res/hw.ico"
IDI_INFO          ICON DISCARDABLE "res/info.ico"
IDI_LOCALES       ICON DISCARDABLE "res/locales.ico"
IDI_MONITOR       ICON DISCARDABLE "res/monitor.ico"
IDI_NETWORK       ICON DISCARDABLE "res/network.ico"
IDI_RELOAD        ICON DISCARDABLE "res/reload.ico"
IDI_SAVE          ICON DISCARDABLE "res/save.ico"
IDI_SOFTWARE      ICON DISCARDABLE "res/software.ico"
IDI_TASKMGR       ICON DISCARDABLE "res/taskmgr.ico"
IDI_UPDATES       ICON DISCARDABLE "res/updates.ico"
IDI_USERS         ICON DISCARDABLE "res/users.ico"
IDI_HDD           ICON DISCARDABLE "res/hdd.ico"
IDI_CD            ICON DISCARDABLE "res/cd.ico"
IDI_CPU           ICON DISCARDABLE "res/cpu.ico"
IDI_SENSOR        ICON DISCARDABLE "res/sensor.ico"
IDI_SHARED        ICON DISCARDABLE "res/shared.ico"
IDI_IE            ICON DISCARDABLE "res/ie.ico"
IDI_ROUTE         ICON DISCARDABLE "res/route.ico"
IDI_EVENTVWR      ICON DISCARDABLE "res/eventvwr.ico"
IDI_INFOICO       ICON DISCARDABLE "res/information.ico"
IDI_ERRORICO      ICON DISCARDABLE "res/error.ico"
IDI_SECURITY      ICON DISCARDABLE "res/security.ico"
IDI_APPS          ICON DISCARDABLE "res/apps.ico"
IDI_POWERICO      ICON DISCARDABLE "res/power.ico"
IDI_SYSFOLDERS    ICON DISCARDABLE "res/sysfolders.ico"
IDI_USER          ICON DISCARDABLE "res/user.ico"
IDI_DISABLED_USER ICON DISCARDABLE "res/disabled_user.ico"
IDI_TIME          ICON DISCARDABLE "res/time.ico"
IDI_DATE          ICON DISCARDABLE "res/date.ico"
IDI_PORT          ICON DISCARDABLE "res/port.ico"
IDI_REG           ICON DISCARDABLE "res/reg.ico"
IDI_FOLDER        ICON DISCARDABLE "res/folder.ico"
IDI_PRINTER       ICON DISCARDABLE "res/printer.ico"
IDI_CHECKED       ICON DISCARDABLE "res/checked.ico"
IDI_UNCHECKED     ICON DISCARDABLE "res/unchecked.ico"
IDI_WINDOWS       ICON DISCARDABLE "res/windows.ico"
IDI_BATTERY       ICON DISCARDABLE "res/battery.ico"
IDI_DESKTOP       ICON DISCARDABLE "res/desktop.ico"
IDI_RAS           ICON DISCARDABLE "res/ras.ico"
IDI_KEYBOARD      ICON DISCARDABLE "res/keyboard.ico"
IDI_MOUSE         ICON DISCARDABLE "res/mouse.ico"
IDI_WINDOW        ICON DISCARDABLE "res/window.ico"
IDI_SCREENSAVER   ICON DISCARDABLE "res/screensaver.ico"
IDI_EFFECTS       ICON DISCARDABLE "res/effects.ico"
IDI_MENU          ICON DISCARDABLE "res/menu.ico"
IDI_TEXT          ICON DISCARDABLE "res/text.ico"
IDI_PREVENT       ICON DISCARDABLE "res/prevent.ico"
IDI_SERVICES      ICON DISCARDABLE "res/services.ico"
IDI_NETSTAT       ICON DISCARDABLE "res/netstat.ico"
IDI_DISABLED_HW   ICON DISCARDABLE "res/disabled_hw.ico"
IDI_CONTACT       ICON DISCARDABLE "res/contact.ico"
IDI_SETTINGS      ICON DISCARDABLE "res/settings.ico"
IDI_CHECK_ALL     ICON DISCARDABLE "res/check_all.ico"
IDI_UNCHECK_ALL   ICON DISCARDABLE "res/uncheck_all.ico"
IDI_FIREWALL      ICON DISCARDABLE "res/firewall.ico"
IDI_USB_DEV       ICON DISCARDABLE "res/usb.ico"
IDI_ENCLOSURE     ICON DISCARDABLE "res/enclosure.ico"
IDI_VOLTAGE       ICON DISCARDABLE "res/voltage.ico"
IDI_TEMPERATURE   ICON DISCARDABLE "res/temperature.ico"
IDI_FAN           ICON DISCARDABLE "res/fan.ico"
IDI_NVIDIA        ICON DISCARDABLE "res/nvidia.ico"
IDI_ATI           ICON DISCARDABLE "res/ati.ico"
IDI_OPENGL        ICON DISCARDABLE "res/opengl.ico"
IDI_AUDIO         ICON DISCARDABLE "res/audio.ico"
IDI_MICROPHONE    ICON DISCARDABLE "res/microphone.ico"
IDI_DISK          ICON DISCARDABLE "res/disk.ico"

STRINGTABLE DISCARDABLE
BEGIN
    100, "Tango Icons"
END

/* EOF */